.page {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    animation-name: slideInFromLeft;
    animation-duration: 2.5s;
    position: relative;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    100% {
        opcaity: 1;
    }
}
