.services {
    height: 100vh;
    width: 100%;
    position: relative;
}
.microContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.micro {
    width: 210px;
    height: 210px;
}