.welcome {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    animation-name: slideInFromLeft;
    animation-duration: 2s;
    position: relative;
}

.welcomeText {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    100% {
        opcaity: 1;
    }
}
